* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --br-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #ffff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

body {
  background: var(--br-color);
  color: var(--text-color);
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 2rem 9%;
  background: var(--br-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

/*Home Design*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 25%;
  border-radius: 150px;
  width: 25vw;
  animation: floatImage 4s ease-in-out infinite;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}
